<div class="container">
    <div class="title-page">
        <h3>Danh sách tin</h3>
    </div>

    <div id="tabs">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a (click)="allPosts('all')"
               data-toggle="tab">
               <button class="tab-component" [ngClass]="{ 'active':activeTab==='all'}" >
                Tất cả
               </button>
            </a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{ 'active':activeTab==='expired'}" data-toggle="tab"
               (click)="expiredPosts('expired')">
                <button class="tab-component" [ngClass]="{ 'active':activeTab==='expired'}">
                    Hết hạn
                </button>
            </a>
          </li>
        </ul>
      
        <div class="tab-content my-tab-content">
          <div class="tab-pane" id="all" [ngClass]="{ 'active':activeTab==='all'}">
            <li *ngFor="let item of items" style="list-style: none;">
                <app-post-item [item]="item"></app-post-item>
            </li>
          </div>
          <div class="tab-pane" id="expired" [ngClass]="{ 'active':activeTab==='expired'}">
            <app-post-item></app-post-item>
          </div>
        </div>
      
    </div>

   
</div>
