<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light  border-bottom border-top p-0">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold " routerLink="/products"><i class="fa fa-cart-shopping fs-4"
                    style="color: #f54242;"></i><span class="textBlur">Batdongsan</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!--Toggle  -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất bán
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/products">Bán căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán nhà riêng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán nhà mặt phố</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán đất</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Khác</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất cho thuê
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/products">Cho thuê căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà riêng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà mặt phố</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê đất</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Khác</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li *ngIf="!loggedObj.custId">
                        <div class="d-flex justify-content-evenly mt-2">
                            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight"> <button class="btn btn-login px-3">Đăng
                                    nhập</button></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                    class="btn btn-login px-3">Đăng kí</button></a>
                        </div>
                    </li>
                    <li >
                        <div class="d-flex justify-content-evenly mt-2" >
                            <a routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                class="btn btn-login px-3" >Đăng tin</button></a>
                            
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>


<div id="login" class="modal">
  
    <form class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" (click)="closeLogin()" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>