<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light  border-bottom border-top p-0">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold " routerLink="/products"><i class="fa-solid fa-house-chimney"></i><span
                    class="textBlur">Batdongsan</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!--Toggle  -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất bán
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " [routerLink]="['/products',1]">Bán căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/products',2]">Bán nhà riêng</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(3)">Bán nhà mặt phố</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(4)">Bán đất</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(5)">Bán kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(6)">Khác</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất cho thuê
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/products">Cho thuê căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà riêng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà mặt phố</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê đất</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Khác</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li *ngIf="!isAuth">
                        <div class="d-flex justify-content-evenly mt-2">
                            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight"> <button class="btn btn-login px-3"
                                    (click)="showLogin()">Đăng nhập</button></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <button class="btn btn-login px-3" (click)="showRegister()">Đăng kí</button></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" *ngIf="isAuth">
                        <div class="dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger d-flex align-items-center"
                            style="height: 50px;">
                            <div class="avatar-container">
                                <img src={{user.img}} alt="Avatar" class="avatar">
                            </div>
                            <div class="user-info">
                                <div class="user-name">{{user.fullName}}</div>
                            </div>
                        </div>
                        <!-- <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất bán
                        </a> -->
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/manage-posted">Quản lý tin đăng</a></li>
                            <li><a class="dropdown-item" routerLink="/account-manager">Thay đổi thông tin cá nhân</a>
                            </li>
                            <li><a class="dropdown-item" (click)="selectProduct(3)">Thay đổi mật khẩu</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(4)">Nạp tiền</a></li>
                            <li><a class="dropdown-item" (click)="selectProduct(5)">Đăng xuất</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="d-flex justify-content-center mt-2">
                            <a routerLink="/post-information-detail/0" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"> <button class="btn btn-login px-3">Đăng tin</button></a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>

<!-- login -->
<div id="login" class="modal d-flex justify-content-center align-items-center" *ngIf="isLogin">
    <form class="modal-content animate form-login row" style="width: 860px" action="/action_page.php" method="post">

        <div class="col-5 p-0 ">
            <img class="resizable-image mt-0" style="border-radius: 5px 0 0 5px;" src="/assets/images/login3.jpg"
                alt="">
        </div>
        <div class="col-7" *ngIf="!forgotPassword&&!register">
            <div class="d-flex mt-2" style="justify-content: right;">
                <button class="btn-x" (click)="closeLogin()">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <h6 class=" mb-2">
                Xin chào bạn
            </h6>
            <h3 class="mt-2 mb-2">Đăng nhập để tiếp tục</h3>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-solid fa-user"></i>
                <input class="input-custom" type="text" placeholder="Username" [(ngModel)]="user.userName"
                    name="userName">
            </div>
            <div class="d-flex mt-3 login-group">
                <i class="fa-solid fa-lock d-flex align-items-center"></i>
                <input [type]="passwordType" class="input-custom" id="password1" placeholder="password" name="password1"
                    [(ngModel)]="user.password" style="margin-right: 5px;" name="password" required>
                <div class="input-group-append ml-auto">
                    <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                    </button>
                </div>
            </div>

            <div style="height: 19.5px;">
                <div *ngIf="errorMessage" class="text-danger " style="font-size: 13px;">
                    {{ errorMessage }}
                </div>
            </div>

            <div class="mt-3 mb-2">
                <button class="btn-log" (click)="onLogin()"> Đăng nhập</button>
            </div>
            <div class="mt-1 d-flex mb-4">
                <button class="btn-res" (click)="setForgotPassword()">Quên mật khẩu?</button>
            </div>
            <div class="mt-1 d-flex mb-4 justify-content-center">
                Chưa là thành viên?
                <button class="btn-res-login" (click)="showRegister()">Đăng ký</button>
                tại đây
            </div>
        </div>

        <!-- Quên mật khẩu -->
        <div class="col-7" *ngIf="forgotPassword&&!register">
            <div class="d-flex mt-2" style="justify-content: left;">
                <button class="btn-x" (click)="setForgotPassword()">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </div>
            <h6 class=" mb-2 mt-2">
                Khôi phục mật khẩu
            </h6>
            <div *ngIf="!isOTP">
                <div class="mt-4 mb-2 login-group">
                    <i class="fa-solid fa-envelope"></i>
                    <input class="input-custom" type="text" placeholder="Nhập email" [(ngModel)]="emailOtp"
                        name="email">
                </div>
                <div class="mt-3 mb-2">
                    <button class="btn-log" (click)="showOTP()">Gửi OTP</button>
                </div>
            </div>
            <div *ngIf="isOTP">
                <div class="mt-4 mb-2 login-group">
                    <input class="input-custom" type="text" placeholder="Nhập OTP" [(ngModel)]="otp" name="otp">
                </div>
                <div class="mt-4 mb-2 login-group">
                    <input class="input-custom" type="text" placeholder="Nhập mật khẩu mới" [(ngModel)]="passOtp"
                        name="newpass">
                </div>
                <div class="mt-3 mb-2">
                    <button class="btn-log" (click)="confirmOTP()">Xác nhận</button>
                </div>
            </div>
        </div>





        <!-- đăng kí -->
        <div class="col-7" *ngIf="register">
            <div class="d-flex mt-2" style="justify-content: right;">
                <button class="btn-x" (click)="closeLogin()">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <h6 class=" mb-2 mt-2">
                Xin chào bạn
            </h6>
            <h3 class="mt-2 mb-2">Đăng kí tài khoản mới</h3>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-solid fa-user"></i>
                <input class="input-custom" type="text" placeholder="UserName" [(ngModel)]="user.userName"
                    name="userName">
            </div>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-solid fa-envelope"></i>
                <input class="input-custom" type="text" placeholder="Email" [(ngModel)]="user.email" name="email">
            </div>
            <div class="d-flex mt-3 mb-2 login-group">
                <i class="fa-solid fa-lock d-flex align-items-center"></i>
                <input [type]="passwordType" class="input-custom" id="password" placeholder="Password" name="password"
                    [(ngModel)]="user.password" style="margin-right: 5px;" name="password" required>
                <div class="input-group-append ml-auto">
                    <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex mt-3 mb-2 login-group">
                <i class="fa-solid fa-lock d-flex align-items-center"></i>
                <input [type]="checkPasswordType" class="input-custom" id="password2" placeholder="Nhập lại Password"
                    name="password" [(ngModel)]="checkPassword" style="margin-right: 5px;" name="checkPassword"
                    required>
                <div class="input-group-append ml-auto">
                    <button class="eye-btn" type="button" (click)="toggleCheckPasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': showCheckPassword, 'fa-eye-slash': !showCheckPassword}"></i>
                    </button>
                </div>
            </div>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-solid fa-phone"></i>
                <input class="input-custom" type="text" placeholder="Số điện thoại" [(ngModel)]="user.phoneNumber"
                    name="phoneNumber">
            </div>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-regular fa-id-card"></i>
                <input class="input-custom" type="text" placeholder="Fullname" [(ngModel)]="user.fullName"
                    name="fullName">
            </div>
            <div class="mt-3 mb-2">
                <button class="btn-log" (click)="onRegister()">Đăng kí</button>
            </div>

            <div class="mt-1 d-flex mb-4 justify-content-center">
                Bạn đã có tài khoản?
                <button class="btn-res-login" (click)="showLogin()">Đăng nhập</button>
                tại đây
            </div>
        </div>


    </form>
</div>
<app-success-popup *ngIf="showSuccessMessage" [title]="popupTitle" [message]="popupMessage"
    [isSuccess]="isSuccess"></app-success-popup>