<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light  border-bottom border-top p-0">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold " routerLink="/products"><i class="fa fa-cart-shopping fs-4"
                    style="color: #f54242;"></i><span class="textBlur">Batdongsan</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <!--Toggle  -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất bán
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/products">Bán căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán nhà riêng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán nhà mặt phố</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán đất</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Bán kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Khác</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-black  me-1 text-danger"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nhà đất cho thuê
                        </a>
                        <div class="re-arrow">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " routerLink="/products">Cho thuê căn hộ chung cư</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà riêng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê nhà mặt phố</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê đất</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Cho thuê kho, nhà xưởng</a></li>
                            <li><a class="dropdown-item" routerLink="/products">Khác</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                    <li *ngIf="!loggedObj.custId">
                        <div class="d-flex justify-content-evenly mt-2">
                            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight"> <button class="btn btn-login px-3"
                                    (click)="showLogin()">Đăng nhập</button></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                    class="btn btn-login px-3">Đăng kí</button></a>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-evenly mt-2">
                            <a routerLink="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                    class="btn btn-login px-3">Đăng tin</button></a>

                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-top">
        <div class="col-12">
            <div class="d-flex" style="height: 70px; ">
                <!-- bán cho thuê -->
                <div class="d-flex " style="max-width: fit-content; max-height: fit-content; align-items: center;">
                    <button class="btn" [class]="">Bán</button>
                    <button class="btn">Cho thuê</button>
                </div>
                <!-- search -->
                <div class="d-flex input-group px-2 " style="width: 30%;">
                    <div class="icon-search">
                        <i class="fa fa-search" style="color: black"></i>
                    </div>
                    <input type="text" class="input-search" placeholder="Nhập thông tin bạn cần tìm">
                </div>
                <!-- loc -->
                <div class=" d-flex " >
                    <!-- Loại nhà đất -->
                    <div class="nav-item dropdown  px-3 pr-8">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Loại nhà đất
                            </button>
                            <div class="dropdown-menu" ria-labelledby="dropdownMenuButton">
                                <div *ngFor="let option of optionsType; let i = index" class="dropdown-item">
                                    <input type="checkbox" [checked]="option.selected" (change)="toggleOptionType(i)">
                                    {{
                                    option.value }}
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedOptionsType.length > 0">
                            <div class="ellipsis">
                                <p>{{ selectedOptionsType.join(', ') }}</p>
                            </div>
                        </div>
                        <ng-template #other_content>Tất cả</ng-template>
                    </div>


                    <!-- Khu vực -->
                    <div class="nav-item dropdown  px-3 pr-8">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Khu vực
                            </button>
                            <div class="dropdown-menu" ria-labelledby="dropdownMenuButton1">
                                <div class="dropdown">
                                    <label class="lab-area">Tỉnh, thành phố</label>
                                    <select class="sel-area" id="province" style="border-radius: 10px;">
                                        <option>Hồ Chí Minh</option>
                                    </select>
                                    <label class="lab-area"> Quận, huyện</label>
                                    <select class="sel-area" id="districtSelect" (change)="toggleOptionArea($event)">
                                        <option *ngFor="let district of districtArray; let i = index"
                                            [value]="district.district_name">
                                            {{ district.district_name }}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="optionsArea">
                            <div class="ellipsis">
                                <p>HCM, {{optionsArea}}</p>

                            </div>
                        </div>
                    </div>
                    <!-- Mức giá -->
                    <div class="nav-item dropdown  px-3 pr-8" >
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mức giá
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-item" (click)="toggleOptionPrice(1)" [hidden]="isSale">Dưới 5 triệu
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(5)" [hidden]="isSale">5 - 10 triệu
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(10)" [hidden]="isSale">10 - 50
                                    triệu
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(50)" [hidden]="isSale">50 - 100
                                    triệu
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(100)" [hidden]="isSale">100 - 200
                                    triệu</div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(200)" [hidden]="isSale">200 - 500
                                    triệu</div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(500)" [hidden]="isSale">500 - 800
                                    triệu</div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(800)" [hidden]="isSale">800 triệu
                                    - 1
                                    tỉ</div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(1000)" [hidden]="isSale">1 - 2 tỉ
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(2000)" [hidden]="isSale">2 - 5 tỉ
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(5000)" [hidden]="isSale">5 - 7 tỉ
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionPrice(7000)" [hidden]="isSale">7 - 10 tỉ
                                </div>
                            </div>
                        </div>

                        <div *ngIf="optionPrice != null">
                            <div class="ellipsis">
                                <p>{{ optionPrice }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Diện tích -->
                    <div class="nav-item dropdown px-3 pr-8" >
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Diện tích
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-item" (click)="toggleOptionAcreage(1)" [hidden]="isSale">Dưới 30 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(30)" [hidden]="isSale">30 - 50
                                    m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(50)" [hidden]="isSale">50 - 80
                                    m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(80)" [hidden]="isSale">80 - 100
                                    m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(100)" [hidden]="isSale">100 -
                                    150 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(150)" [hidden]="isSale">150 -
                                    200 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(200)" [hidden]="isSale">200 -
                                    250 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(250)" [hidden]="isSale">250 -
                                    300 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(300)" [hidden]="isSale">300 -
                                    500 m²
                                </div>
                                <div class="dropdown-item" (click)="toggleOptionAcreage(500)" [hidden]="isSale">Trên 500
                                    m²
                                </div>
                            </div>
                        </div>

                        <div *ngIf="optionAcreage != null">
                            <div class="ellipsis">
                                <p>{{ optionAcreage }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tim kiem -->
                <div class="option  d-flex  mx-3"
                    style="align-items: center; ">
                    <div class="d-flex justify-content-evenly mt-2" style=" height: 40px;">
                        <button class="btn btn-type">Tìm kiếm</button>
                    </div>
                    <div class="d-flex  mt-2 "
                        style="height: 40px; padding: 0px;">
                        <button class="btn btn-type">Đặt lại</button>
                    </div>
                </div>
            </div>

        </div>



    </nav>
</header>
<router-outlet></router-outlet>

<!-- login -->
<div id="login" class="modal d-flex justify-content-center align-items-center" *ngIf="isLogin">
    <form class="modal-content animate form-login row" style="width: 860px" action="/action_page.php" method="post">

        <div class="col-5 p-0 ">
            <img class="resizable-image mt-0" style="border-radius: 5px 0 0 5px;" src="/assets/images/login3.jpg"
                alt="">
        </div>
        <div class="col-7">
            <div class="d-flex mt-2" style="justify-content: right;">
                <button class="btn-x" (click)="closeLogin()">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <h6 class=" mb-2">
                Xin chào bạn
            </h6>
            <h3 class="mt-2 mb-2">Đăng nhập để tiếp tục</h3>
            <div class="mt-4 mb-2 login-group">
                <i class="fa-solid fa-user"></i>
                <input class="input-custom" type="text" placeholder="Username">
            </div>
            <div class="d-flex mt-3 mb-2 login-group">
                <i class="fa-solid fa-user d-flex align-items-center"></i>
                <input [type]="passwordType" class="input-custom" id="password" placeholder="password" name="password"
                    [(ngModel)]="password" style="margin-right: 5px;" required>
                <div class="input-group-append ml-auto">
                    <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                    </button>
                </div>
            </div>
            <div class="mt-3 mb-2">
                <button class="btn-log"> Đăng nhập</button>
            </div>
            <div class="mt-1 d-flex mb-4">
                <button class="btn-res">Quên mật khẩu?</button>
            </div>
        </div>

    </form>
</div>