.container {
    max-width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
}
.re-arrow {
    /* display: none; */
    /* width: 0%; */
    height: 2px;
    background: white;
    line-height: 0px;
    font-size: 0px !important;
    margin: 1px 12px 0px 8px;
    transition: 0.3s;
}
dropdown:hover {
    .re-arrow {
        background: #E03C31;
    }
}
.dropdown-toggle {
    font-size: 15px;
}
.btn-login {
    border-radius: 10px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
}
.btn-login:hover {
    background-color:#FAFAFA;
    color: black;
}