<div class="container">

    <div class="card-item" *ngIf="postId == 0">
        <h3 class="title">Thông tin cơ bản</h3>

        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">
                    Nhu cầu
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div style="display: flex; max-width: 50%; justify-content: space-between;">
                    <label *ngFor="let option of options" [class.checked]="selectedOption === option.value">
                        <input type="radio" name="radioOption" [value]="option.value" [(ngModel)]="selectedOption"
                            (change)="onRadioChange(option.value)">
                        <span class="custom-radio"></span>
                        {{ option.label }}
                    </label>
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">
                    Loại bất động sản
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom">
                    <select class="sel-area" id="districtSelect" (change)="toggleOptionType($event)" required>
                        <option *ngFor="let type of typeAaray; let i = index" [value]="i" style="padding: 8px;">
                            {{ type.title }}
                        </option>
                    </select>
                    <div class="icon-select">
                        <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path xmlns="http://www.w3.org/2000/svg" d="M4 9L12 17L20 9" stroke="currentColor"
                                stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-6">
                <div class="title-input" id="title-input">
                    Tỉnh, thành phố
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input id="province" name="province" placeholder="Chọn" type="text" mode="normal"
                        value="Hồ Chí Minh" readonly>
                </div>
            </div>

            <div class="card-col-6">
                <div class="title-input" id="title-input">
                    Quận, huyện
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom">
                    <select class="sel-area" id="districtSelect" (change)="toggleOptionDistrict($event)" required>
                        <option *ngFor="let district of districtArray; let i = index" [value]="i" style="padding: 8px;">
                            {{ district.district_name }}
                        </option>
                    </select>
                    <div class="icon-select">
                        <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path xmlns="http://www.w3.org/2000/svg" d="M4 9L12 17L20 9" stroke="currentColor"
                                stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-row">
            <div class="card-col-6">
                <div class="title-input" id="title-input">
                    Phường, xã
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom">
                    <select class="sel-area" id="districtSelect" (change)="toggleOptionWard($event)" required>
                        <option *ngFor="let ward of wardArray; let i = index" [value]="i">
                            {{ ward.ward_name }}
                        </option>
                    </select>
                    <div class="icon-select">
                        <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path xmlns="http://www.w3.org/2000/svg" d="M4 9L12 17L20 9" stroke="currentColor"
                                stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="card-col-6">
                <div class="title-input" id="title-input">
                    Đường, phố
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input id="street" name="street" placeholder="Nhập đường, phố" type="text" mode="normal" value=""
                        [(ngModel)]="post.street" required>
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">Dự án</div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" name="pgds056666978816" placeholder="Nhập dự án" type="text" mode="normal"
                        [(ngModel)]="post.project" value="">

                </div>
            </div>
        </div>
    </div>

    <div class="card-item" *ngIf="postId == 0">
        <h3 class="title">Thông tin bài viết</h3>
        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">Tiêu đề
                    <div class="input-require">&nbsp;*</div>
                </div>
                <textarea placeholder="VD: Bán nhà riêng 50m2 chính chủ tại Cầu Giấy" rows="2" type="text"
                    class="input-textarea" [(ngModel)]="post.title" name="title"></textarea>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">Mô tả
                    <div class="input-require">&nbsp;*</div>
                </div>
                <textarea
                    placeholder="Nhập mô tả chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi, gần công viên, gần trường học ... "
                    type="text" class="input-textarea resize" [(ngModel)]="post.description"
                    name="description"></textarea>
            </div>
        </div>
    </div>

    <div class="card-item" *ngIf="postId == 0">
        <h3 class="title">Thông tin bất động sản</h3>
        <div class="card-row">
            <div class="card-col-12">
                <div class="title-input" id="title-input">Diện tích
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" name="pgds-0.93927953" id="acreage" [(ngModel)]="post.area"
                        placeholder="Nhập diện tích, VD 80" mode="normal" type="text" value="" inputmode="numeric">
                    <div class="area-unit">m²</div>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card-col-8">
                <div class="title-input" id="title-input">
                    Mức giá
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" placeholder="Nhập giá, VD 12000000" mode="normal" type="text" value=""
                        inputmode="numeric" name="price" [(ngModel)]="post.price">
                </div>
            </div>

            <div class="card-col-4">
                <div class="title-input" id="title-input">
                    Đơn vị
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom">
                    <select class="sel-area" id="districtSelect" (change)="toggleOptionUnit($event)" required>
                        <option *ngFor="let unit of unitArray; let i = index" [value]="i" style="padding: 8px;">
                            {{ unit.title }}
                        </option>
                    </select>
                    <div class="icon-select">
                        <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path xmlns="http://www.w3.org/2000/svg" d="M4 9L12 17L20 9" stroke="currentColor"
                                stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-row" *ngIf="optionSelected">
            <div class="card-col-6">
                <div class="title-input" id="title-input">Giấy tờ pháp lý</div>
                <div class="sc-ivZKlt kbVaPe">
                    <div class="sc-exiMuG daagyf" *ngFor="let p of paper; let i = index" (click)="handlePaperSelect(i)">
                        <div mode="tag" class="sc-hYAvag sc-cdijYi jijUtu"
                            [ngClass]="{'jPJYPD': paperSelected !== p.code, 'fhIMm': paperSelected == p.code}">
                            <span color="#2C2C2C" class="sc-fodVxV sUpQc sc-eishCr cCZPVr"
                                type="primary">{{p.name}}</span>
                            <div class="sc-kQTreH drFvYN" *ngIf="paperSelected == p.code">
                                <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 7L9.20003 18L5 13.2857" stroke="currentColor" stroke-width="1.9"
                                        stroke-linejoin="round" stroke-linecap="round"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card-col-6">
                <div class="title-input" id="title-input">Nội thất</div>
                <div class="sc-ivZKlt kbVaPe">
                    <div class="sc-exiMuG daagyf" *ngFor="let f of furniture; let i = index"
                        (click)="handleFurnitureSelect(i)">
                        <div class="sc-hYAvag sc-cdijYi jijUtu"
                            [ngClass]="{'jPJYPD': furnitureSelected !== f.code, 'fhIMm': furnitureSelected == f.code}">
                            <span class="sc-fodVxV sUpQc sc-eishCr cCZPVr" type="primary">{{f.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div style="width: 100%;
            padding-right: 4px;
            display: flex;
            /* flex-direction: column; */
            justify-content: space-between;">
                <div class="title-input" id="title-input">Số phòng ngủ</div>
                <div class="sc-kJFuea iwdYMG">

                    <div class="sc-bGqQkm jyZRYv sc-clhSjD cviqID">
                        <div class="sc-ihnbgO dWVYgZ">
                            <input min="0" autocomplete="off" name="pgds-185756381" mode="normal"
                                [(ngModel)]="post.bedrooms" class="sc-cjHJEj blvXSp" type="number" value="0"
                                inputmode="numeric">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-row">
            <div style="width: 100%;
            padding-right: 4px;
            display: flex;
            /* flex-direction: column; */
            justify-content: space-between;">
                <div class="title-input" id="title-input">Số phòng tắm, nhà vệ sinh</div>
                <div class="sc-kJFuea iwdYMG">

                    <div class="sc-bGqQkm jyZRYv sc-clhSjD cviqID">
                        <div class="sc-ihnbgO dWVYgZ">
                            <input min="0" autocomplete="off" name="pgds-0.62756381" mode="normal" [(ngModel)]="post.wc"
                                class="sc-cjHJEj blvXSp" type="number" value="0" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-item" *ngIf="postId == 0">
        <h3 class="title">Hình ảnh</h3>
        <div class="card-row">
            <div class="note-input-image">
                <span>• Đăng tối thiểu 4 ảnh thường
                    với tin VIP</span>
                <span>• Đăng tối đa 24 ảnh với tất cả
                    các loại tin</span>
                <span>• Hãy dùng ảnh thật, không trùng,
                    không chèn SĐT</span>
                <span>• Mỗi ảnh kích thước tối thiểu
                    100x100 px, tối đa 15 MB</span>
                <span>• Mô tả ảnh tối đa 45
                    kí tự.</span>
            </div>
        </div>
        <div tabindex="1">
            <div class="input-image-group">

                <input type="file" multiple (change)="onFilesSelected($event)" #fileInput
                    style="padding: 20px; border: 2px solid black; cursor: pointer;">

                <div>Bấm để chọn ảnh cần tải lên</div>
                <div>hoặc kéo thả ảnh
                    vào đây</div>
            </div>

            <div class="image-grid" *ngIf="selectedFiles && selectedFiles.length">
                <div class="image-item" *ngFor="let file of selectedFiles">
                    <img [src]="getImageUrl(file)" alt="Preview" />
                </div>
            </div>

        </div>



    </div>

    <div class="card-item" *ngIf="postId == 0">
        <h3 class="title">Thông tin liên hệ</h3>
        <div class="card-row">
            <div class="card-col-6">
                <div class="title-input" id="title-input">Tên liên hệ
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" disabled="true" [value]="user.fullName" maxlength="200">
                </div>
            </div>

            <div class="card-col-6">
                <div class="title-input" id="title-input">Số diện thoại
                    <div class="input-require">&nbsp;*</div>
                </div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" name="pgds-0.3424" maxlength="200" disabled="true"
                        [value]="user.phoneNumber">
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-6">
                <div class="title-input" id="title-input">Email
                </div>
                <div id="input-custom" class="input-text">
                    <input autocomplete="off" name="pgd1423656855224" maxlength="200" disabled="true"
                        [value]="user.email">
                </div>
            </div>
        </div>
    </div>

    <div class="card-item">
        <h3 class="title">Cấu hình tin đăng</h3>

        <div class="card-row">
            <div class="card-col-12">
                <h6>Chọn loại tin đăng</h6>
                <div class="type-group">
                    <div class="type-item-container" *ngFor="let type of factDataPostType; let i = index"
                        [ngClass]="{'active': typeSelectId == type.id}" (click)="handleChooseType(i)">
                        <div class="item-type-info-container">
                            <h5 type="primary" id="type-title"
                                [ngClass]="{'bronze': type.id == 2,'silver': type.id==3, 'gold': type.id==4, 'diamond':type.id==5}">
                                {{type.name}}</h5>
                            <div class="type-price-container">
                                Từ&nbsp;
                                <span>{{type.pricePerDay | number: '1.3-3'}}</span>
                                &nbsp;đ/ngày
                            </div>
                        </div>
                        <button class="btn-choose-type">
                            <div class="btn-title">
                                <span *ngIf="typeSelectId !== type.id">Chọn</span>
                                <span *ngIf="typeSelectId == type.id">Đã chọn</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-row">
            <div class="card-col-12">
                <h6>Chọn thời gian đăng tin</h6>
                <div style="margin-top: 8px;" id="number-day">
                    <div class="title">
                        Số ngày đăng
                    </div>
                    <div class="group-number-day" *ngIf="typeSelectId !== 1">
                        <div class="number-day-item" *ngFor="let numberDay of numberDays; let i = index"
                            (click)="handleChooseNumber(numberDay)" [ngClass]="{'active': numberSelected == numberDay}">
                            <div>
                                <div class="number-day">{{numberDay}} ngày</div>
                                <div class="price">Tông tiền {{priceWithNumberDays[i] | number: '1.3-3'}} đ</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-number-day" *ngIf="typeSelectId == 1">
                        <div class="number-day-item active">
                            <div>
                                <div class="number-day">{{numberSelected}} ngày</div>
                                <div class="price">Tông tiền 0 đ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-col-4" id="start-day-container">
                        <div class="title">Ngày bắt đầu</div>
                        <div class="input-start-day-group">
                            <input autocomplete="off" [(ngModel)]="currentDay" (change)="onStartDateChange($event)"
                                type="date">
                        </div>
                        <div type="primary" class="end-day-text">Kết thúc ngày {{endDate}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card-item">
        <h3 class="title">Thanh toán</h3>
        <div class="payment-container">
            <div class="payment-detail-container">
                <div class="item">
                    <div class="item-title">Loại tin</div>
                    <div class="item-value">{{typePostResult}}</div>
                </div>

                <div class="item">
                    <div class="item-title">Đơn giá / ngày</div>
                    <div class="item-value">{{pricePerDayResult | number: '1.3-3'}} đ</div>
                </div>

                <div>
                    <div class="item">
                        <div class="item-title">Thời gian đăng tin</div>
                        <div class="item-value">{{numberDayResult}} ngày</div>
                    </div>
                    <div class="duration">{{formatDate(startDate)}} → {{endDate}}</div>
                </div>
            </div>

            <div class="sc-dGPzrD dkeChL" style="padding: 16px 0px;">
                <div class="sc-kkQtUC bUVLpc" style="width: 100%;
                height: 1px;
                background-color: rgb(242, 242, 242);
                margin-bottom: 0px;"></div>
            </div>

            <div class="payment-result-container">
                <div class="item">
                    <div class="item-title">Tổng tiền</div>
                    <h3>{{totalCost | number: '1.3-3'}}<span> đ</span></h3>
                </div>
            </div>
        </div>
    </div>


    <div class="nav-container-class-1">
        <div class="nav-container-class-2">
            <div class="nav-container-class-3">
                <div style="display: flex;">
                    <button class="btn-back">
                        <div class="content">
                            <span class="icon-back">
                                <div>
                                    <svg font-size="24px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M15 4L7 12L15 20"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </span>
                            <span class="title">Quay lại</span>
                        </div>
                    </button>
                </div>
                <div style="display: flex;">
                    <div class="total-cost-container">
                        <div class="title">Tổng tiền</div>
                        <div class="total-cost-group">
                            <h4>{{totalCost | number: '1.3-3'}}</h4>
                            <h6>đ</h6>
                        </div>
                    </div>
                    <button class="btn-save" (click)="postNew()">
                        <div class="content">
                            <span class="title">Lưu thay đổi</span>
                            <span class="icon-container">
                                <div>
                                    <svg font-size="16px" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M9 20L17 12L9 4"
                                            stroke="currentColor" stroke-width="1.9" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>